@import url('https://fonts.googleapis.com/css?family=Nunito Sans:200,400,400i,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Coustard&display=swap');

* {
	padding: 0;
	margin: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
	color: #24292b;
	font-weight: 400;
	letter-spacing: 0;
}

a {
	color: inherit;
	text-decoration: none;
	color: #24292b;
	font-weight: 400;
}

nav {
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	border-bottom: 1px solid #ccc;
	background-color: white;
}

nav a {
	padding: .5em .5em;
	display: inline-block;
}

nav a:hover {
	color: #337ca9;
	text-decoration-line: line-through;
}

label {
	padding: .5em .5em;
	display: none;
	text-decoration: underline;
	padding-bottom: 1em;
}

.social {	
	display: inline-block;
	padding: .25em .5em;
	margin-left: .25em;
	float: right;
}

#wrapper {
	display: flex;
	background-color: white;
	align-items: center;
	position: fixed;
	margin-top: .75em;
}

.image, .right {
	background-color: white;
	width: 49.8%;
	float: left;
}

.right {
	width: 33em;
}

#eve {
	color: #337ca9;
} 

#toggle {
	display: none;
}

label:hover {
	color: #337ca9;
	text-decoration-line: line-through;
}

h1, h2 {
	font-family: 'Coustard', serif;
	font-size: 6em;
	display: inline-block;
}

p {
	line-height: 1.5em;
	width: 33em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

br {
	line-height: 1em;
}

#background {
	background-color: #24292b;
	padding: 2em 2em;
	margin: auto;
	position: relative;
	margin-top: 810px;
	text-align: center;
	padding-bottom: 3em;
}

h3 {
	font-family: 'Coustard', serif;
	font-size: 2em;
	text-align: center;
	color: #fff;
	padding: 3em 1em 1em 1em;
}

img {
	width: 25px;
}

.footer {
	background-color: white;
	position: absolute;
	padding: 0 0;
	width: 100%;
}

h4 {
	font-size: .75em;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: 400;
	padding: 2em 2em;
}

.video {
	background-color: #337ca9;
	position: relative;
	margin: 0 auto;
	padding: 2em 2em;
	text-align: center;
	padding-bottom: 3em;
}

video {
	padding: .5em .5em;
	height: 500px;
}

.container {
	position: relative;
  	display: inline-block;
  	width: 600px;
  	padding: 0.5em 0.5em;
}

.container > img {
	width: 600px;
}

.overlay {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  top: 0.5em;
  background-color: #337ca9;
  opacity: 95%;
  overflow: hidden;
  width: 600px;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 600px;
}

.text {
  color: white;
  font-size: 0.8em;
  line-height: 1.5em;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle  {
  display: block;
  background-color: #337ca9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-top: 2em;
  cursor: pointer;
}

.lbl-toggle:hover {
  color: white;
  text-decoration-line: line-through;
}

.collapsible-content .content-inner {
  background: #24292b;
  padding-top: 2em;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 800vh;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 1700px) {
	video {
		height: 400px;
	}
}
@media screen and (max-width: 1500px) {
	#wrapper {
		margin-top: 3em;
	}
@media screen and (max-width: 1350px) {
	#wrapper {
		margin-top: 5em;
	}
@media screen and (max-width: 1260px) {
	p {
		font-size: 0.95em;
	}
	h1, h2 {
		font-size: 5.5em;
	}
	.right {
		width: 30em;
	}
	#wrapper {
		margin-top: 5em;
	}
}
@media screen and (max-width: 1126px) {
	p {
		font-size: .95em;
		width: 30em;
	}
	h1, h2 {
		font-size: 5em;
	}
	#wrapper {
		margin-top: 7em;
	}
	.right {
		width: 28em;
	}
	#background {
		margin-top: 800px;
		padding-bottom: 2.5em;	
	}
	.container {
		width: 150px;
	}
	.container > img {
		width: 150px;
	}
	.overlay {
		width: 150px;
	}
	.container:hover .overlay {
		height: 150px;
	}
	video {
		height: 350px;
	}
}

@media screen and (max-width: 1010px) {
	p {
		width: 26em;
	}
	h1, h2 {
		font-size: 4.5em;
	}
	.right {
		width: 27em;
	}
	#wrapper {
		margin-top: 8em;
	}
}

@media screen and (max-width: 930px) {
	p {
		width: 25em;
	}
	h1, h2 {
		font-size: 4em;
	}
	.right {
		width: 23em;
	}
	#wrapper {
		margin-top: 10em;
	}
}
@media screen and (max-width: 840px) {
	#wrapper {
		display: block;
		margin-top: 4em;
	}
	.image {
		width: 20%;
		margin: auto 0;
	}
	.image, .right {
		float: none;
		width: 40%;
		margin: 0 auto;
	}
	#background {
		margin-top: 770px;	
	}
	.right {
		width: 100%;
		text-align: center;
		margin: auto;
	}
	p {
		font-size: .95em;
		width: 48em;
		margin: 0 auto;
	}
}
@media screen and (max-width: 790px) {
	p {
		width: 40em;
	}
	#background {
		margin-top: 800px;	
	}
	#wrapper {
		margin-top: 3em;
	}
	nav a {
		padding-left: 1em;
		padding-right: 1em;
	}
	.social {
		padding-left: 1em;
		padding-right: 1em;
	}
}
@media screen and (max-width: 768px) {
	#wrapper {
		margin-top: 4em;
	}
	nav a {
		display: block;
		margin-top: 1em;
	}
	.social {
		float: none;
	}
	nav {
		display: block;
		text-align: center;
	}
	nav {
		display: none;
	}
	label {
		display: block;
		text-align: center;
		padding: 2em 2em;
		margin-top: 1em;
	}
	#toggle:checked + nav {
		display: block;
	}
	#background {
		padding-left: 1em;
		padding-right: 1em;
		margin-top: 900px;	
	}
}
@media screen and (max-width: 660px) {
	p {
		width: 35em;
	}
}
@media screen and (max-width: 570px) {
	p {
		width: 30em;
	}
@media screen and (max-width: 500px) {
	p {
		width: 28em;
		font-size:.9em;
	}
	.footer {
		font-size: .5em;
	}
	#wrapper {
		position: static;
	}
	#background {
		margin-top: 4em;
	}
}
@media screen and (max-width: 435px) {
	p {
		width: 25em;
	}
@media screen and (max-width: 400px) {
	p {
		width: 25em;
		font-size: .85em;
	}
	h1, h2 {
		font-size: 3em;
	}
}
@media screen and (max-width: 360px) {
	p {
		width: 23em;
	}
}
@media screen and (max-width: 340px) {
	p {
		width: 22em;
	}
}
@media screen and (max-width: 315px) {
	p {
		width: 20em;
	}
}
@media screen and (max-width: 295px) {
	p {
		font-size: .83em;
	}
	h1, h2 {
		font-size: 2.5em;
	}
}